.typing-text {
  display: inline-block;
  vertical-align: middle;
  color: #b7c89b;
  letter-spacing: 2px;
  font-size: 2rem;
}

.main-image-container.main-image-water .typing-text {
  color: #b1cdd2;
}

.main-image-container.main-image-water .cursor {
  background-color: #b1cdd2;
}

.cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: #b7c89b;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #b7c89b;
  }
}

@media all and (max-width: 480px) {
  .typing-text {
    font-size: 1.5rem;
  }
  .cursor {
    height: 40px;
  }
}
